
.texto {
    font-weight: 400;
    font-size: 24px;
    line-height: 240%;
}
#projects {
    margin-top: 100px;
    font-family: 'DM Mono';
    font-size: 40px;
}
main{
    margin-top: 160px;
}
#projects p{
    font-size: 22px;
    line-height: 24px;
    color: #828282;
}
#projects img {
    width: 712px;
    height: 410px;
    border-radius: 12px;
}
#projects a.img-link {
    display: block;
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 16px;
    color: #1F272F;
}
#projects a.img-link:hover {
    background-color: #fff1f5;
    color:rgb(255, 57, 57) 
}
#projects a.img-link2:hover {
    background-color: #e4ffe9;
    color:#2e6d43;
}
#projects a.img-link .img-container {
    height: 538px;
}
